Repository SELab-2/UGent-5, pull requests merged in 2024-05, with the labels that each got.

#170 Alembic README + vertaling main README
  README.md
  backend/README.md
  backend/alembic/README
  backend/alembic/README.md
Labels: documentation, backend

#171 Delete requirements fix + tests
  backend/alembic/versions/18fb90307213_project_requirements_fix.py
  backend/src/project/models.py
  backend/tests/test_project.py
  backend/tests/test_submission.py
Labels: bug, backend, tests

#178 Theme switcher
  frontend/src/components/switcher/ThemeSwitcher.vue
Labels: frontend

#179 Add surname of users
  backend/alembic/versions/566f33fb161f_add_user_surname.py
  backend/src/auth/router.py
  backend/src/user/models.py
  backend/src/user/schemas.py
  backend/tests/conftest.py
  backend/tests/test_group.py
  backend/tests/test_subject.py
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/nl.ts
  frontend/src/models/User.ts
  frontend/src/views/HomeScreenView.vue
Labels: frontend, backend, database

#195 Aanpassingen admin-scherm
  backend/src/user/dependencies.py
  backend/src/user/router.py
  backend/src/user/service.py
  frontend/src/queries/User.ts
  frontend/src/services/user.ts
  frontend/src/views/AdminView.vue
Labels: frontend, backend

#152 Query refactor
  frontend/src/components/buttons/GroupButtons.vue
  frontend/src/components/home/cards/DeadlinesCard.vue
  frontend/src/components/home/cards/SubjectsCard.vue
  frontend/src/components/project/ProjectSideBar.vue
  frontend/src/components/project/submit/SubmitForm.vue
  frontend/src/components/project/submit/SubmitInfo.vue
  frontend/src/components/submission/SubmissionCard.vue
  frontend/src/composables/useIsAdmin.ts
  frontend/src/composables/useIsTeacher.ts
  frontend/src/models/Group.ts
  frontend/src/queries/Group.ts
  frontend/src/queries/Project.ts
  frontend/src/queries/Subject.ts
  frontend/src/queries/Submission.ts
  frontend/src/queries/User.ts
  frontend/src/services/group.ts
  frontend/src/services/index.ts
  frontend/src/services/project.ts
  frontend/src/services/subject.ts
  frontend/src/services/submission.ts
  frontend/src/services/user.ts
  frontend/src/utils.ts
  frontend/src/views/AdminView.vue
  frontend/src/views/CreateProjectView.vue
  frontend/src/views/GroupView.vue
  frontend/src/views/GroupsView.vue
  frontend/src/views/HomeScreenView.vue
  frontend/src/views/ProjectView.vue
  frontend/src/views/SubjectRegisterView.vue
  frontend/src/views/SubmissionsView.vue
  frontend/src/views/UserView.vue
  frontend/src/views/subject/SubjectView.vue
  frontend/src/views/subject/SubjectsView.vue
  frontend/tests/components/project/ProjectSideBar.spec.ts
  frontend/tests/components/project/submit/SubmitInfo.spec.ts
  frontend/tests/views/ProjectView.spec.ts
Labels: frontend

#215 Fix login error
  backend/src/auth/router.py
Labels: bug, backend

#214 Homescreen deadlines
  backend/src/project/schemas.py
  backend/src/project/service.py
  backend/src/subject/service.py
  backend/src/user/dependencies.py
  backend/src/user/router.py
  frontend/src/components/home/cards/DeadlinesCard.vue
  frontend/src/components/home/listcontent/DeadlineItem.vue
  frontend/src/models/Project.ts
  frontend/src/queries/Group.ts
  frontend/src/queries/Project.ts
  frontend/src/queries/Submission.ts
  frontend/src/services/group.ts
  frontend/src/services/project.ts
  frontend/src/services/submission.ts
Labels: enhancement, frontend

#219 Fix projects page
  frontend/src/views/ProjectsView.vue
  frontend/tests/views/ProjectsView.spec.ts
Labels: bug, frontend

#211 Unmet file requirements op submitpagina
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/project/ProjectInfo.vue
  frontend/src/components/project/RequirementsCard.vue
  frontend/src/components/project/submit/SubmitCard.vue
  frontend/src/components/project/submit/SubmitForm.vue
  frontend/src/components/submission/SubmitCard.vue
  frontend/src/components/submission/SubmitForm.vue
  frontend/src/components/submission/SubmitInfo.vue
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/nl.ts
  frontend/src/models/Project.ts
  frontend/src/queries/Submission.ts
  frontend/src/services/index.ts
  frontend/src/views/SubmitView.vue
  frontend/tests/components/submission/SubmitCard.spec.ts
  frontend/tests/components/submission/SubmitForm.spec.ts
  frontend/tests/components/submission/SubmitInfo.spec.ts
  frontend/tests/views/SubmitView.spec.ts
Labels: enhancement, frontend

#231 allow teachers to get all users
  backend/src/user/router.py
Labels: enhancement, backend

#236 Search users with throttle
  frontend/src/components/user/SearchTable.vue
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/nl.ts
  frontend/src/utils.ts
  frontend/src/views/AdminView.vue
  frontend/tests/components/user/SearchTable.spec.ts
  frontend/tests/utils.spec.ts
  frontend/tests/views/AdminView.spec.ts
Labels: enhancement, frontend

#166 Permission checks for pages
  frontend/src/composables/useIsAdmin.ts
  frontend/src/composables/useIsTeacher.ts
  frontend/src/main.ts
  frontend/src/queries/Group.ts
  frontend/src/queries/Project.ts
  frontend/src/queries/Subject.ts
  frontend/src/queries/User.ts
  frontend/src/router/index.ts
  frontend/src/router/middleware/canVisit.ts
  frontend/src/router/middleware/index.ts
  frontend/src/router/middleware/isAuthenticated.ts
  frontend/src/router/middleware/logger.ts
  frontend/src/router/middleware/login.ts
Labels: frontend

#240 Patch subject
  frontend/src/components/subject/modify/body/ModifySubjectBody.vue
  frontend/src/components/subject/modify/body/SubjectInstructorsCard.vue
  frontend/src/components/subject/modify/body/UserSearchCard.vue
  frontend/src/components/subject/modify/body/UserSearchList.vue
  frontend/src/components/subject/modify/header/ModifySubjectHeaderCard.vue
  frontend/src/components/subject/modify/header/ModifySubjectHeaderContainer.vue
  frontend/src/components/subject/modify/header/ModifySubjectHeaderImage.vue
  frontend/src/components/subject/subject/body/groups/SubjectGroupsPage.vue
  frontend/src/components/subject/subject/body/projects/SubjectProjectPage.vue
  frontend/src/components/subject/subject/body/projects/SubjectProjectsPage.vue
  frontend/src/components/subject/subject/body/projects/list/SubjectProjectsList.vue
  frontend/src/components/subject/subject/body/projects/list/SubjectTab.vue
  frontend/src/components/subject/subject/buttons/RegisterLinkButton.vue
  frontend/src/components/subject/subject/header/SubjectHeaderCard.vue
  frontend/src/components/subject/subject/header/SubjectHeaderContainer.vue
  frontend/src/components/subject/subject/header/SubjectHeaderImage.vue
  frontend/src/components/subject/subjects/body/SubjectCard.vue
  frontend/src/components/subject/subjects/header/SubjectsHeaderCard.vue
  frontend/src/components/subject/subjects/header/SubjectsHeaderContainer.vue
  frontend/src/components/subject/subjects/header/SubjectsHeaderImage.vue
  frontend/src/i18n/locales/en.ts
  frontend/src/i18n/locales/nl.ts
  frontend/src/models/Subject.ts
  frontend/src/queries/Subject.ts
  frontend/src/router/index.ts
  frontend/src/services/subject.ts
  frontend/src/views/subject/SubjectView.vue
  frontend/src/views/subject/SubjectsView.vue
  frontend/src/views/subject/modify/CreateSubjectView.vue
  frontend/src/views/subject/modify/PatchSubjectView.vue
  frontend/tests/components/subject/subjectsview/body/SubjectCard.spec.ts
  frontend/tests/components/subject/subjectsview/header/SubjectsHeaderCard.spec.ts
  frontend/tests/components/subject/subjectsview/header/SubjectsHeaderContainer.spec.ts
Labels: frontend

#251 fix #246 tests: docker 7.0.0 -> 7.1.0
  backend/requirements.txt
Labels: bug, backend
